* {
  margin: 0;
  box-sizing: border-box;
	padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;

}

body {
  background-color: #F5F4F0;

}

#page {
  margin: 88px auto 131px ;
  width: 1120px;
}

span {
text-transform: uppercase;
font-size: 16px;
font-weight: 700;
color: #E1644F;

}

.landscape {
  border-radius: 28px;
  max-width: 1120px;
  object-fit: contain;

}

#description p {
font-size: 16px;
text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

p {
  font-size: 16px;
  color: #333333;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-size: 28px;
  font-weight: 700;
}

.bompara {
  font-size: 16px;
  font-weight: 700;
}

ul {
  padding-left: 28px;
}

li::marker {
  color: black;
}

#haedong li {
  font-weight: 700;
  color: #0C51A7;
}

#beomeo li {
  font-weight: 700;
  color: #0C51A7;
}

#casais {
  font-weight: 700;
  color: #591B98;
}

#familias {
  font-weight: 700;
  color: #E5245E;
}

#orcamento {
  font-weight: 700;
  color: #E95E10;
}

footer {
  text-align: center;
}
